.app-bw{

	.mat-card{
		padding: 10px;
		margin: 10px;
		cursor: pointer;
		border-radius: 4px;
		}
	.mat-card-subtitle{
		font-size: $font-size-medium;
	}
	.mat-card-content{
		display: inline-flex;
	    align-items: flex-start;
	    margin: 0;
		}
		.mat-card-content>:last-child:not(.mat-card-footer), .mat-card>:last-child:not(.mat-card-footer){
			margin: 0;
		}	

		.card-tag{
			border: none;
		    background: transparent;
		    vertical-align: center;
		    font-size: $font-size-base;
		    display: inline-flex;
		    align-items: flex-start;
		    line-height: 24px;
		    margin: 5px 0;
		}
		
		
}
