<div *ngIf="bookData">
	

<div class="card-detail-wrapper" >
	
	<div class="detail-info-wrapper">
		<div class="detail-image">
			<img src={{bookData.image}}>
		</div>
		<div >
			<div class="mat-card-title">{{bookData.name}}</div>
			<div class="detail-author">
				<h3 class="mat-card-subtitle">{{bookData.author}}</h3>
			</div>
		</div>
		
		<div class="detail-rating">
			<!-- will be component in future development -->
			<div>show rating</div>
		</div>
	</div>
	<div class="detail-description">
		<p>{{bookData.desription}}</p>
		<!-- will do shore more event in future development -->
		<button mat-raised-button class="button button--primiary">show more</button>
		 
	</div>
</div>

<!-- create comment  component--> 
	<div *ngIf="newComment">
		<app-new-comment (commentSave) = "onClickComment($event)" [bookId] = "bookData.id"></app-new-comment>
	</div>
	
	
</div>