@import "./../../../styles/utilities/variables";
.card-detail-wrapper{
  background: #FFF;
  border: 1px solid rgba(0,100,0,.2);
  border-radius: 3px;  
  padding: 50px;
}
.detail-info-wrapper{
  display: flex;  
}
.author-title-info{
  padding:0 50px;
}
.cover-image{
  display: inline-bock;
  width: 15vw;
	height: 30vh;
  border: 1px solid rgba(0,100,0,.2);
}

.rating{
  margin-left: auto;
}
.detail-description{
  font-family: 'Merriweather', serif;
  font-size: $font-size-base;
  
}
.button{
  border: 1px solid transparent;
  border-radius: 3px;
  padding:10px 20px;
  font-family: 'Merriweather', serif;
  text-transform: capitalize;
  box-shadow: 0px 1px 3px #333;
}
.button--primiary{
  color: #fff;
  background-color:$bookworm-green;
  background-image: linear-gradient(-50deg,	#006400,#228B22, $bookworm-green );
}
@media screen and (max-width: 600px){
  .card-detail-wrapper{
  	padding: 10px;
  }
  .detail-info-wrapper{
    display: block;
  }
  .cover-image{
  	width: 50vw;
    height: 30vh;
    display: block;
  }
  .author-title-info{
  	padding: 10px 0;
  }
  
  .rating{
  	padding: 10px 0;
  }
}