<div *ngIf="bookData">
<div class="card-detail-wrapper" >
	
	<div class="detail-info-wrapper">
		<div class="detail-image">
			<img class="cover-image" src={{bookData.image}}>
		</div>
		<div class="author-title-info">
			<div class="mat-card-title">{{bookData.name}}</div>
			<div class="author-title">
				{{bookData.author}}
			</div>
		</div>
		
		<div class="rating">
			<!-- will be component in future development -->
			<div>show rating</div>
		</div>
	</div>
	<div class="detail-description">
		<p>{{bookData.desription}}</p>
		<!-- will do shore more event in future development -->
		<button mat-raised-button class="button button--primiary">show more</button>
		 
	</div>
</div>

<!-- create comment  component--> 
	<div *ngIf="newComment">
		<app-new-comment (commentSave) = "onClickComment($event)" [bookId] = "bookData.id"></app-new-comment>
	</div>
</div>