<mat-card>
  <mat-card-header >
    <mat-card-title *ngIf="cardData.name">{{cardData.name}}</mat-card-title>
    <mat-card-subtitle>by {{cardData.author}}</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
    <img *ngIf="cardData.image" src={{cardData.image}}>
    <p>
      {{cardData.desription}}
    </p>
  </mat-card-content>
  <div *ngIf="cardData.tag">
    <button  *ngFor = "let tag of cardData.tag" class="card-tag">
        <mat-icon svgIcon="labels" class="green-icon"></mat-icon>{{tag}}
    </button>
  </div>
</mat-card>




