@import "./../../../styles/utilities/variables";
.comment-container{
  border: 1px solid rgba(0,100,0,.2);
  border-radius: 3px;
  padding: 20px;
  margin: 5px 0;
  background: #fff;
}
.comment-header{
  display: flex;
  
}
.commenter-info{
  padding: 0 10px;
}
.user-img{
  border-radius: 100%;
  box-shadow: 0px 1px 3px #333;
  width: 5vw;
  height: 10vh;
}
.date{
  display: block;
  font-family: $font-family-base;
}
.author-title{
  font-family: $font-family-base;
  font-size: $font-size-medium;
  line-height: 38px;
  color: $bookworm-green;
}
.rating{
  margin-left: auto;
}
.detail-description{
  padding: 20px;
}
@media only screen and (max-width: 600px) {
  
  .author-title-info{
    padding: 10px 0;
  }
  
  .rating{
    padding: 10px 0;
  }
  .user-img{
    width: 15vw;
    height: 10vh;
  }
}