/*Font Family */
$font-family-base: 'Merriweather', serif;
$font-family-title: 'Oswald', sans-serif;
/*Font Size*/

$font-size-base: 16px;
$font-size-medium: 22px;
$font-size-large: 32px;
$font-size-extra-large: 42px;

$bookworm-green : #008000;